body {
    font-family: 'Times New Roman', Times, serif
    box-sizing: border-box;
    margin: 0;
    padding: 30px 50px;
}

header {
    background-color: black;
    text-align: center;
    padding: 10px;
}

h1 {
    font-style: strong;
    color: white;
    font-size: 36px;;
}

h2 {
    font-size: 26px;
}